{% include "head.html.j2" %}
<body>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>

    <div id="sidebar">
        <h2>All My Post</h2>
        <p>This is my blog. I've written {{total_posts()}} posts so far.</p>

         <h6>Latest post</h6>
        <ul>
        {% for post in show_latest_posts() %}
        <li>
        {# <a href="<a href="{{ url ('blog:post_detail',kwargs={'year':post.publish.year,'month':post.publish.month,'day':post.publish.day,'post':post.slug}) }}">{{ post.title }}</a> #}
        <a href="{{ url ('blog:post_detail',kwargs={'year':post.publish.year,'month':post.publish.month,'day':post.publish.day,'post':post.slug}) }}">{{ post.title }}</a>
        {# <a href="<a href="{{ url ('blog:post_detail',kwargs={'year':post.publish.year,'month':post.publish.month,'day':post.publish.day,'post':post.slug}) }}">{{ post.title }}</a> #}
        </li>
        {% endfor %}
        </ul>

        {# {% get_most_commented_posts as most_commented_posts %} #}
    
    <h6>Most commented posts</h6>
    <ul>
      {% for post in get_most_commented_posts() %}
        <li>
        <a href="{{ url ('blog:post_detail',kwargs={'year':post.publish.year,'month':post.publish.month,'day':post.publish.day,'post':post.slug}) }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

    </div>

</body>
{% include "foot.html.j2" %}
