{% include "head.html.j2" %}
<body>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>

    <div id="sidebar">
        <h2>Latest Post here</h2>
        <p>newly added</p>
    </div>

</body>
{% include "foot.html.j2" %}
