{% extends '../jinjaapp/base.html.j2' %}
{% block body %}
    <div class="container">
        <h3>Hello world</h3>
    </div>

    <table>
        <tbody>
        {% for purchase in purchase_list %}
            <tr>
{#                <a href="{{ url("purchase:detail", pk=purchase.pk) }}">{{ purchase.title }}</a>#}
{#                <a href="{{ url("purchase:detail", pk=purchase.pk) }}">SEND</a>#}
                <a href="{{ url("purchase:detail") }}">SEND</a>
            </tr>
{#            <tr>{{ dj.date(purchase.created, "SHORT_DATE_FORMAT") }}</tr>#}
{#            <tr>{{ dj.floatformat(purchase.amount, 2) }}</tr>#}
            {{ url('home')}}

        {% endfor %}
        </tbody>
    </table>

{% endblock %}