{% extends "base.html.j2" %}
{# {% load  %} #}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
{% with total_comments=comments.count() %}
    <h4>{{ total_comments }} Total Comments</h4>
{% endwith %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body }}
  <p>
  <a href="{{ url('blog:post_share', kwargs={'post_id':post.id}) }}">Share this post</a>
  </p>


{% for comment in comments %}
    <div class="comment">
      <p class="info">
        Comment ###### by {{ comment.name }}
        {{ comment.created }}
      </p>
      {{ comment.body }}
    </div>
{% else %}
    <p>There are no comments yet.</p>
{% endfor %}


  {% if new_comment %}
    <h2>Your comment has been added.</h2>
  {% else %}
    <h2>Add a new comment</h2>
    <form method="post">
      {{ crispy(comment_form) }}
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <p><input type="submit" value="Add comment"></p>
    </form>
  {% endif %}
{% endblock %}