{% extends "base.html.j2" %}
{% block title %}My Blog{% endblock %}
{% block content %}
  <h1>Ishwar Blog</h1>



  {% for post in posts %}
    <h2><a href="{{ url ('blog:post_detail',kwargs={'year':post.publish.year,'month':post.publish.month,'day':post.publish.day,'post':post.slug}) }}">{{ post.title }}</a></h2>

    <p class="tags">
      Tags:
      {% for tag in post.tags.all() %}
        <a href="{{ url('blog:post_list_by_tag', kwargs={'tag_slug':tag.slug})}}">{{ tag.name }}</a>
      {% endfor %}
    </p>
    
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>
    <div class="container">
    {# <div class="col-auto"> #}
    <div class="row">
        <div class="col">
          {{ post.body|truncate(200) }}
        </div>
        <div class="col">
          {# {{post.image}} #}
          {# <img src="static/{{post.image}}/" alt=""> #}
          {# {{ image(post.header_image, "fill-1024x200") }} #}
          {# <img src="{{h.hostel_card_image.url}}" alt="gostops" class="img-fluid w-100" loading="lazy"> #}
          {# <img src="{{post.image.url}}" alt="not availabe" class="img-fluid w-100" loading="lazy"> #}
          {% if post.image %}
            <img src="{{post.image.url}}" alt="not availabe">
          {% else %}
          {% endif %}
        </div>
    </div>
</div>


{% endfor %}
 


{% if posts.has_other_pages %}
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous() %}
            <a href="?page={{ posts.previous_page_number() }}">Previous</a>
        {% endif %}

    <span class="current">
           Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
    </span>

        {% if posts.has_next() %}
            <a href="?page={{ posts.next_page_number() }}">Next</a>
        {% endif %}
    </span>
</div>
{% endif %}

  
  
  
  
  
  
  
  
  {# {% with page=page_obj %} #}
      {# {% include "blog/post/pagination.html.j2" %} #}
  {# {% endwith %} #}

  
  {# {% include "blog/post/pagination.html.j2" with page=page_obj %} #}
{% endblock %}


